/* Общие стили + стили для body + переменные для светлой и темной темы */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

a {
    text-decoration: none;
}

#menuwka {
    display: none;
}

/* цвета стандартной темы + стили для всего документа */
body {
    --txtcolor: #fff;
    --hcolor: rgb(0, 215, 215);
    --contacts: rgb(0, 227, 227);
    --bgnav: rgba(0, 0, 0, 0.7);
    --cardtext: rgb(0, 215, 215);
    --backgrad: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    --img: url(temp/zemlya-planeta-kosmos-6494.jpg);
    --hbr: transparent;
    height: 100vh;
    background-image: var(--backgrad), url(temp/zemlya-planeta-kosmos-6494.jpg);
    background-size: cover;
    background-position: center;
}

/* цвета для альтернативной темы */
.dark {
    --contacts: #ea6f42;
    --cardtext: #ea6f42;
    --hcolor: #fff;
    --hbr: #ea6f42;
    --txtcolor: #151515;
    --bgnav: rgba(255, 255, 255, 0.4);
    --backgrad: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0))
}

/* Стили для хедер и навбар на компьютерной версии сайта */
.header {
    position: fixed;
    width: 100%;
    padding: 0.3%;
    background-color: var(--bgnav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--txtcolor);
    text-decoration: none;
    font-weight: 500;
    margin-right: 7vh;
    font-family: "Jersey 15", sans-serif;
}

.navbar {
    margin-top: 1.4vh;
    margin-right: 10vh;
    justify-content: center;
}

/* Настройка изображений-кнопок переключения темы*/
.toggle {
    display: none;
}

#moon,
#sun {
    margin-left: 3vh;
    width: 40px;
    height: 40px;
}

#sun {
    display: none;
}

.toggle:checked+.button #sun {
    display: block;
}

.toggle:checked+.button #moon {
    display: none;
}

/* Настройка для контактов и главного блока текста*/

.icons {
    color: var(--txtcolor);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* Стили для контактов */
#contacts {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 3vh;
    font-family: "Jersey 15", sans-serif;
    display: flex;
    float: right;
    letter-spacing: 0;
}

#contacts a {
    letter-spacing: 0;
    margin-right: 3vh;
    margin-top: 0.3vh;
}

.textBlock {
    /* background-color: bisque; */
    grid-area: textBlock;
    height: 50vh;
    margin-top: 30vh;
    width: 65%;
    margin-left: 10vh;
}

/* Стили для текста в текстовом блоке */

h1 {
    margin-top: 10%;
    color: var(--hcolor);
    -webkit-text-stroke: 2.3px var(--hbr);
    font-size: 6rem;
    margin-left: 2.5vh;
}

.description {
    margin-left: 3vh;
    color: white;
    font-size: 1.43rem;
    text-align: justify;
}

.fw {
    margin-left: 3vh;
}

i {
    color: var(--contacts);
}

/* Карты (изображения, форматирование, фон и тп) */
.card1,
.card2,
.card3,
.card4 {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 290px;
    height: 350px;
    transition: 0.3s;
}

.card1 {
    background-image: url(temp/south\ ring.jpg);
    background-color: rgb(196, 223, 255);
    grid-area: card1;
    margin-top: 13vh;
    margin-left: 10vh;
}

.card2 {
    background-image: url(temp/galaxy.jpg);
    background-color: rgb(255, 196, 243);
    grid-area: card2;
    margin-top: 13vh;
    margin-left: 3vh;
}

.card3 {
    background-image: url(temp/black\ hole.jpg);
    background-color: rgb(196, 255, 216);
    grid-area: card3;
    margin-left: 10vh;
    margin-top: 3vh;
}

.card4 {
    background-image: url(temp/nSyz4odoyBA.jpg);
    background-color: rgb(255, 196, 197);
    grid-area: card4;
    margin-left: 3vh;
    margin-top: 3vh;
}

/* Текст внутри карт*/
.tc {
    text-decoration: none;
    color: transparent;
    transition: 0.5s;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 10px;
}

/* Карты ховер */
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
    transform: translateY(-10%);

    .tc {
        color: var(--cardtext);
    }
}

/* Грид для комп верси сайта */
.container {
    display: grid;
    width: 100%;
    height: 88vh;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas:
        "textBlock card1 card2"
        "textBlock card3 card4";
    /* background-color: red; */
    grid-gap: 10px;
}

/* Адаптивная верстка для уменьшенной версии сайта (?)*/
@media screen and (max-width: 770px) {
    body {
        height: 100vh;
        background-image: var(--backgrad), url(temp/zemlya-planeta-kosmos-6494.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
    }

    .container {
        display: grid;
        width: 100%;
        height: 88vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "textBlock"
            "card1"
            "card2"
            "card3"
            "card4";
        /* background-color: red; */
        grid-gap: 10px;
    }

    .textBlock {
        /* background-color: bisque; */
        grid-area: textBlock;
        height: 70vh;
        margin-top: 23vh;
        padding-right: 3vh;
        margin-left: 7vh;
        text-align: center;
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        width: 360px;
        height: 500px;
        position: static;
        margin: 0 auto;
        transition: 0.3s;
    }

    .card1 {
        background-image: url(temp/south\ ring.jpg);
        grid-area: card1;
        margin-top: 7vh;
    }

    .card2 {
        background-image: url(temp/comet.png);
        grid-area: card2;
        margin-top: 5vh;
    }

    .card3 {
        background-image: url(temp/black\ hole.jpg);
        grid-area: card3;
        margin-top: 5vh;
    }

    .card4 {
        background-image: url(temp/nSyz4odoyBA.jpg);
        grid-area: card4;
        margin-top: 5vh;
        margin-bottom: 3vh;
    }

    .tc {
        text-decoration: none;
        font-size: 1.7rem;
        color: var(--hcolor);
        opacity: 0;
        transition: 2s;
        display: block;
    }

    .show {
        opacity: 1;
    }

    .header {
        /* padding: 0.3%; */
        background-color: var(--bgnav);
        height: 6.4vh;
    }

    .icons {
        display: inline-flex;
        margin-right: 5vh;
    }

    .navbar {
        position: absolute;
        width: 100%;
        top: 5vh;
        height: 0;
        background-color: var(--bgnav);
        transition: 0.3s ease-in;
        overflow: hidden;
        left: 0;
    }

    .navbar a {
        display: block;
        text-align: center;
        margin: 3.3vh;
        /* text-decoration: underline;
        text-underline-offset: 10px; */
    }

    #contacts {
        text-align: center;
        width: 100%;
        margin-right: 0;
        font-size: 1.3rem;
        color: #fff;
        font-weight: 500;
        font-family: "Jersey 15", sans-serif;
        display: block;
        letter-spacing: 10px;

    }

    #contacts a {
        font-size: 1.7rem;
        color: var(--txtcolor);
        display: inline-block;
        letter-spacing: 50%;
        margin: 0;
    }

    /* Чекбокс для открытия навбара */
    #cross {
        display: none;
    }

    #menuwka:checked~.icons #menu {
        display: none;
    }

    #menuwka:checked~.navbar {
        height: 30vh;
    }

    #menuwka:checked~.icons #cross {
        display: block;
    }
}

/* Адаптивная верстка для мобильного экрана */
@media screen and (max-width: 435px) {
    body {
        height: 100vh;
        background-image: var(--backgrad), url(temp/zemlya-planeta-kosmos-6494.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
    }

    /* грид */
    .container {
        display: grid;
        width: 100%;
        height: 88vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "textBlock"
            "card1"
            "card2"
            "card3"
            "card4";
        /* background-color: red; */
        grid-gap: 10px;
    }

    /* текст */
    .textBlock {
        padding-top: 7vh;
        /* background-color: bisque; */
        grid-area: textBlock;
        width: 100%;
        height: 70vh;
        margin-top: 20vh;
        left: 0;
        margin-left: 0;
        text-align: center;
    }

    /* все параметры для карт */
    .card1,
    .card2,
    .card3,
    .card4 {
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        width: 323px;
        height: 423px;
        position: static;
        margin: 0 auto;
        transition: 0.3s;
        color: var(--cardtext);
    }

    .card1 {
        margin-top: 13vh;
        background-image: url(temp/south\ ring.jpg);
        grid-area: card1;
    }

    .card2 {
        background-image: url(temp/galaxy.jpg);
        grid-area: card2;
        margin-top: 5vh;
    }

    .card3 {
        background-image: url(temp/black\ hole.jpg);
        grid-area: card3;
        margin-top: 5vh;
    }

    .card4 {
        background-image: url(temp/nSyz4odoyBA.jpg);
        grid-area: card4;
        margin-top: 5vh;
        margin-bottom: 3vh;
    }

    /* текст на картах */
    .tc {
        text-decoration: none;
        font-size: 1.7rem;
        color: var(--cardtext);
        opacity: 0;
        transition: 2s;
        display: block;
    }

    .show {
        opacity: 1;
    }

    #closed {
        display: none;
    }

    .header {
        /* padding: 0.3%; */
        background-color: var(--bgnav);
        height: 6.4vh;
    }

    .icons {
        display: inline-flex;
        margin-right: 5vh;
    }

    .navbar {
        position: absolute;
        width: 100%;
        top: 5vh;
        height: 0;
        background-color: var(--bgnav);
        transition: 0.3s ease-in;
        overflow: hidden;
        left: 0;
    }

    .navbar a {
        display: block;
        text-align: center;
        margin: 3.3vh;
        /* text-decoration: underline;
        text-underline-offset: 10px; */
    }

    #contacts {
        text-align: center;
        width: 100%;
        margin-right: 0;
        font-size: 1.3rem;
        color: #fff;
        font-weight: 500;
        font-family: "Jersey 15", sans-serif;
        display: block;
        letter-spacing: 10px;

    }

    #contacts a {
        font-size: 1.7rem;
        color: var(--txtcolor);
        display: inline-block;
        letter-spacing: 50%;
        margin: 0;
    }

    /* Чекбокс для открытия навбара */
    #cross {
        display: none;
    }

    #menuwka:checked~.icons #menu {
        display: none;
    }

    #menuwka:checked~.navbar {
        height: 30vh;
    }

    #menuwka:checked~.icons #cross {
        display: block;
    }
}