/* значит смена темы будет осущетсвляться так:
1) убирается затемняющий градиент с фонового изображения
2) градиент навбара делается белым и более прозрачным
3) текст навбара и лого делается темно-серого цвета
4) надписи на карточках принимают белый цвет
5) может быть меняются изображения на карточках, но это очень врядли
дефолтная тема - темная, светлая - меняемая.... 
+
 Не забыть привести код в порядок + поменять изображение для экзопланет*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}
a{
    text-decoration: none;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(temp/zemlya-planeta-kosmos-6494.jpg);
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    width: 100%;
    padding: 0.3%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.logo{
    font-size: 3rem;
    color: white;
    text-decoration: none;
    margin-left: 9VH;
    cursor: default;
    font-family:'Times New Roman', Times, serif;

}
.navbar a{
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 7vh;
    font-family: "Jersey 15", sans-serif;
}
.navbar{
    margin-right: 10vh;
}
#menuwka{
    display: none;
}
.icons{
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.textBlock{
    /* background-color: bisque; */
    grid-area: textBlock;
    height: 50vh;
    margin-top: 30vh;
}
.card1{
    background-image: url(temp/south\ ring.jpg);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-color: rgb(196, 223, 255); grid-area: card1;
    margin-top: 15vh;
    margin-left: 10vh;
    width: 230px;
    height: 270px;
    transition: 0.3s;
}
.card2{
    background-image: url(temp/comet.png);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 196, 243); grid-area: card2;
    width: 230px;
    height: 270px;
    margin-top: 15vh;
    margin-left: 3vh;
    transition: 0.3s;}
.card3{
    background-image: url(temp/black\ hole.jpg);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-color: rgb(196, 255, 216); grid-area: card3;
    width: 230px;
    height: 270px;
    margin-left: 10vh;
    margin-top: 5vh;
    transition: 0.3s;}
.card4{
    background-image: url(temp/launch.jpg);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 196, 197); grid-area: card4;
    width: 230px;
    height: 270px;
    margin-left: 3vh;
    transition: 0.3s;
    margin-top: 5vh;}
.tc{
    text-decoration: none;
    color: transparent;
    transition: 0.5s;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 10px;
}

.card1:hover, .card2:hover,.card3:hover,.card4:hover{
    transform: translateY(-10%);
    .tc{
        color: wheat;
    }
}
.container {
    display: grid;
    width: 100%;
    height: 88vh;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
    "textBlock card1 card2"
    "textBlock card3 card4";
    /* background-color: red; */
    grid-gap: 10px;
}
#contacts{
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 3vh;
    font-family: "Jersey 15", sans-serif;
    display: flex;
    float: right;
    letter-spacing: 0;
}
#contacts a{
    letter-spacing: 0;
    margin-right: 3vh;
    margin-top: 0.3vh;
}

h1{
    margin-top: 10%;
    color: white;
    font-size: 6rem;
    margin-left: 3vh;
}
.description{
    margin-left: 3vh;
    color: white;
    font-size: 1.3rem;
    text-align: justify;
}
@media screen and (max-width: 770px) {
    body{
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(temp/zemlya-planeta-kosmos-6494.jpg);
        background-attachment:fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
    }
    .container {
        display: grid;
        width: 100%;
        height: 88vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "textBlock"
        "card1"
        "card2"
        "card3"
        "card4";
        /* background-color: red; */
        grid-gap: 10px;
    }
    .textBlock{
        /* background-color: bisque; */
        grid-area: textBlock;
        height: 70vh;
        margin-top: 30vh;
        padding-right: 3vh;
    }
    .card1, .card2, .card3, .card4{
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        width: 360px;
        height: 450px;
        position: static;
        margin: 0 auto;
        transition: 0.3s;
    }
    .card1{
        background-image: url(temp/south\ ring.jpg);
        grid-area: card1;
    }
    .card2{
        background-image: url(temp/comet.png);
        grid-area: card2;
        margin-top: 5vh;}
    .card3{
        background-image: url(temp/black\ hole.jpg);
        grid-area: card3;
        margin-top: 5vh;
        }
    .card4{
        background-image: url(temp/launch.jpg);
        grid-area: card4;
        margin-top: 5vh;
    }
    .tc{
        font-size: 1.7rem;
    }
    .card1:hover, .card2:hover,.card3:hover,.card4:hover{
        transform: translateY(-10%);
        .tc{
            color: wheat;
        }
    }
    .header{
        padding: 0.3%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .icons{
        display: inline-flex;
        margin-right: 5vh;
    }
    .navbar{
        position: absolute;
        width: 100%;
        top: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.3s ease-in;
        overflow: hidden;
        left: 0;
    }
    .navbar a{
        display: block;
        text-align: center;
        margin: 3.3vh;
        /* text-decoration: underline;
        text-underline-offset: 10px; */
    }
    #contacts{
    text-align: center;
    width: 100%;
    margin-right: 0;
    font-size: 1.3rem;
    color: white;
    font-weight: 500;
    font-family: "Jersey 15", sans-serif;
    display: block;
    letter-spacing: 10px;
        
    }
    #contacts a{
        font-size: 1.7rem;
        color: white;
        display: inline-block;
        letter-spacing: 50%;
        margin: 0;
    }
    #cross{
        display: none;
    }
    #menuwka:checked~.icons #menu{
        display: none;
    }
    #menuwka:checked~.navbar{
        height: 30vh;
    }
    #menuwka:checked~.icons #cross{
        display: block;
    }
}