/* Общие стили + стили для body + переменные для светлой и темной темы */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}
a{
    text-decoration: none;
}
#menuwka{
    display: none;
}
body{
    --txtcolor: #fff;
    --inpcolor: #000;
    --navclr: #fff;
    --inpclr:#000;
    --hcolor: rgb(0, 215, 215);
    --contacts:rgb(0, 227, 227);
    --bgnav: rgba(0,0,0,0.7);
    --bginp: rgba(255,255,255,0.5);
    --btncolor: rgb(0, 227, 227);
    --hbr: transparent;
    --bgtest: rgba(0,0,0,0.7);
    --backgrad: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    --img: url(../temp/zemlya-planeta-kosmos-6494.jpg);
    --boxshad: 0px 80px 900px 1px rgba(255, 250, 250, 0.466);
    height: 100vh;
    background-image: var(--backgrad), url(../temp/zemlya-planeta-kosmos-6494.jpg);
    background-size: cover;
    background-position: center;
}
.dark{
    --txtcolor: #000000;
    --navclr: #000;
    --inpclr:#fff;
    --contacts:#ea6f42;
    --hcolor: #fff;
    --hbr: #ea6f42;
    --boxshad: 0px 80px 900px 1px rgba(0, 0, 0, 0.466);
    --bgnav: rgba(255,255,255,0.4);
    /* --bgtest:rgba(255,255,255,0.0); */
    --bginp: rgba(88, 88, 88, 0.65);
    --btncolor: #ff7f50;
    /* --inpcolor: #fff; */
    --backgrad: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0))
}
/* Стили для хедер и навбар на компьютерной версии сайта */
.header{
    position: fixed;
    width: 100%;
    padding: 0.3%;
    background-color: var(--bgnav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--txtcolor);
    text-decoration: none;
    font-weight: 500;
    margin-right: 7vh;
    font-family: "Jersey 15", sans-serif;
}
.navbar{
    margin-top: 1.4vh;
    margin-right: 10vh;
    justify-content: center;
}
/* Настройка изображений-кнопок переключения темы*/
.toggle{
    display: none;
}
#moon, #sun{
    margin-left: 3vh;
    width: 40px;
    height: 40px;
}

#sun {
    display: none;
}

.toggle:checked + .button #sun {
    display: block;
}

.toggle:checked + .button #moon {
    display: none;
}
/* Настройка для контактов и главного блока текста*/

.icons{
    color: var(--txtcolor);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
/* Стили для контактов */
#contacts{
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 3vh;
    font-family: "Jersey 15", sans-serif;
    display: flex;
    float: right;
    letter-spacing: 0;
}
#contacts a{
    letter-spacing: 0;
    margin-right: 3vh;
    margin-top: 0.3vh;
}
i{color: var(--contacts);}
.forma{
    display: grid;
    grid-area: calcs;
    /* background-color: rgb(90, 90, 150); */
    width: 70%;
    margin-left: 17%;

}
.form-container {
    background-color: var(--bgtest);
    border: 1px solid var(--btncolor);
    color: var(--inpcolor);
    padding: 20px;
    border-radius: 8px;
    width: 50vh;
    display: flex;
    float: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--txtcolor);
    font-size: 19px;
    height: 350px;
    margin-top: 0vh;
    transform: translateX(18.3%); 
}
.form-container label{
    color: white;
}
.description h1{
    margin-top: 5%;
    color: var(--hcolor);
    -webkit-text-stroke: 2.3px var(--hbr);
    font-size: 5rem;
    margin-left: 3vh;
}
.description p{
    margin-left: 3vh;
    color: white;
    font-size: 1.43rem;
    text-align: justify;
    margin-top: 3vh;
}
#fw{
    margin-left: 5vh;
}
input{
    background-color: var(--bginp);
    color: var(--inpclr);
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border: var(--bgnav) 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
}

#answ{
    background-color: var(--bginp);
    color: var(--inpclr);
    width: 100%;
    padding: 8px;
    height: 40px;
    font-size: 15px;
    border: var(--bgnav) 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
}
.data{
    margin-bottom: 2.3vh;
    display: inline-block;
    width: 100%;
}
#hd{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
label{
    margin-right: 10px;
}
.btncont{
    width: 100%;
    text-align: center;
}

.btn{
    margin-top: 23px;
    display: inline-flex;
    width: 25vh;
    height: 27px;
    font-size: 1.3rem;
    justify-content: center;
    background-color: var(--btncolor);
    color: #fff;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    text-decoration: none;
    border: 1px solid var(--btncolor);
    position: relative;
    overflow: hidden;
} 
.btn:hover {
    box-shadow: 1px 1px 15px 7px var(--btncolor);
  }

.pics{
    display: grid;
    grid-area: pics;
    /* background-color: rgb(90, 90, 150); */
    width: 70%;
    height: 83vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "txt"
    "pic";
    grid-gap: 0px;
}
.picsDescription{
    display: grid;
    grid-area: txt;
    /* background-color: rebeccapurple; */
    width: 100%;
}

.picsDescription p{
    margin-left: 3vh;
    /* width: 23%; */
    /* background-color: red; */
    color: white;
    font-size: 1.43rem;
    text-align: justify;
    margin-top: 3vh;
}
.pics h1{
    /* display: inline-flex; */
    margin-top: 4%;
    color: var(--hcolor);
    -webkit-text-stroke: 2.3px var(--hbr);
    font-size: 5rem;
    width: 100%;
    margin-left: 3vh;

}
.pic{
    display: grid;
    grid-area: pic;
    background-color: rgba(0, 0, 0, 0.5);
    width: 57.6vh;
    height: 43vh;
    margin-top: 0vh;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 18px;
    border: 1px solid black;
    box-shadow: var(--boxshad);
}
.pic img{
    height: 43vh;
    width: 57.6vh;
}
#answ{
    width: 100%;
    height: 45px;
}
.container{
    padding-top: 12vh;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "calcs pics";
    grid-gap: 170px;
}
@media screen and (max-width: 435px) {
    body{
        height: 100vh;
        background-image: var(--backgrad), url(../temp/zemlya-planeta-kosmos-6494.jpg);
        background-attachment:fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
    }
    .container {
        display: grid;
        width: 100%;
        height: 88vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "calcs"    
        "pics";
        grid-gap: 10px;
    }
    .forma{
        display: grid;
        grid-area: calcs;
        width: 100%;
        margin-left: 0;
    }
    .forma h1{
        font-size:3.3rem;
        margin-left: 0;
        padding-left: 30px;
        margin-top: 1vh;
    }
    .forma p{
        margin-top: 3vh;
        font-size:1.3rem;
        margin-left: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    .form-container {
        background-color: var(--bgtest);
        border: 1px solid var(--btncolor);
        color: var(--inpcolor);
        padding: 20px;
        border-radius: 8px;
        width: 90%;
        display: block;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        color: var(--txtcolor);
        font-size: 19px;
        height: 350px;
        margin-top: 5vh;
        transform: translateX(6%); 
    }
    .btn{
        margin-top: 10px;
    } 

.pics{
    display: grid;
    width: 100%;
    height: 83vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "txt"
    "pic";
    grid-gap: 0px;
}
.picsDescription{
    display: grid;
    grid-area: txt;
    width: 100%;
}

.picsDescription p{
    color: white;
    text-align: justify;
    font-size:1.3rem;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
}
.pics h1{
    /* display: inline-flex; */
    margin-top: 4%;
    color: var(--hcolor);
    -webkit-text-stroke: 2.3px var(--hbr);
    font-size:3.3rem;
    width: 100%;
    margin-left: 3vh;
    margin-left: 0;
    padding-left: 30px;

}
.pic{
    display: grid;
    grid-area: pic;
    background-color: rgba(0, 0, 0, 0.5);
    width: 350px;
    height: 400px;
    margin-top: 5vh;
    margin-left: 0px;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 18px;
    border: 1px solid black;
    box-shadow: var(--boxshad);
    transform: translateX(6%);
}
.pic img{
    width: 350px;
    height: 400px;
}



















    .header{
        /* padding: 0.3%; */
        background-color: var(--bgnav);
        height: 6.4vh;
    }
    .icons{
        display: inline-flex;
        margin-right: 5vh;
    }
    .navbar{
        position: absolute;
        width: 100%;
        top: 5vh;
        height: 0;
        background-color: var(--bgnav);
        transition: 0.3s ease-in;
        overflow: hidden;
        left: 0;
    }
    .navbar a{
        display: block;
        text-align: center;
        margin: 3.3vh;
        /* text-decoration: underline;
        text-underline-offset: 10px; */
    }
    #contacts{
    text-align: center;
    width: 100%;
    margin-right: 0;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
    font-family: "Jersey 15", sans-serif;
    display: block;
    letter-spacing: 10px;
        
    }
    #contacts a{
        font-size: 1.7rem;
        color: var(--txtcolor);
        display: inline-block;
        letter-spacing: 50%;
        margin: 0;
    }
    /* Чекбокс для открытия навбара */
    #cross{
        display: none;
    }
    #menuwka:checked~.icons #menu{
        display: none;
    }
    #menuwka:checked~.navbar{
        height: 30vh;
    }
    #menuwka:checked~.icons #cross{
        display: block;
    }
}